<div class="container mt-4">
  <div class="pokemon-title">
    <h2>Pokémon</h2>
  </div>

  <!-- Cargando mensaje -->
  <div *ngIf="loading" class="alert alert-info text-center">
    <mat-progress-spinner mode="indeterminate" color="primary"></mat-progress-spinner>
    Cargando Pokémons...
  </div>
  
  <!-- Componente de Filtro por tipo -->
    <app-category-filter
    [availableTypes]="availableTypes"
    (typeSelected)="onTypeChange($event)"
    (letterSelected)="onLetterSelected($event)"
    (searchQueryChanged)="onSearchQueryChanged($event)">
  </app-category-filter>



  <!-- Lista de Pokémon -->
  <div class="pokemon-list-container mt-4">
    <div *ngFor="let pokemon of filteredPokemons" class="pokemon-item card mb-3">
      <div class="row no-gutters">
        <!-- Imagen del Pokémon -->
        <div class="col-md-4">
          <img
            [src]="pokemon.sprites?.front_default || 'ruta/a/imagen/default.jpg'"
            alt="{{ pokemon.name }}"
            class="pokemon-image"
          />
        </div>
        <!-- Información del Pokémon -->
        <div class="col-md-8">
          <div class="card-body">
            <h5 class="card-title text-uppercase">{{ pokemon.name | titlecase }}</h5>
            <p class="card-text">
              <strong>Tipos:</strong> {{ pokemon.typesText | titlecase }}
            </p>
            <button mat-flat-button class="custom-button" [routerLink]="['/pokemon', pokemon.name]">
              Ver detalles
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
