/* Estilo general del body */ 
body {
  margin: 0;
  background-color: #f4f4f9;
  font-family: 'Arial', sans-serif;
}

/* Estilo para el card de la lista */
.pokemon-list-card {
  background-color: #ffffff;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  padding: 20px;
}

/* Encabezado de la card con color azul */
mat-card-header {
  background-color: #007bff; /* Azul */
  color: white;
  padding: 20px;
  border-radius: 10px 10px 0 0;
}

/* Contenedor del título con fondo azul */
.pokemon-title {
  text-align: center; /* Centrar el texto */
  font-size: 3rem; /* Tamaño grande */
  font-weight: bold;
  color: #f8d21e; /* Amarillo Pokémon */
  text-shadow: 4px 4px 10px rgba(0, 0, 255, 0.7); /* Sombra azul más fuerte */
  margin-bottom: 10px; /* Espacio debajo del título */
  padding: 10px 0; /* Un poco de espacio alrededor del texto */
  background-color: #007bff; /* Fondo azul del header */
  border-bottom: 2px solid #dcdcdc; /* Línea delgada gris debajo */
}

/* Responsividad */
@media (max-width: 576px) {
  .pokemon-title {
    font-size: 2.5rem; /* Reducir tamaño en pantallas más pequeñas */
  }
}

.custom-button {
  background-color: #3687dd !important; /* Azul brillante */
  color: #ffd500 !important; /* Amarillo vibrante */
  font-weight: bold;
  border-radius: 5px;
}

.custom-button:hover {
  background-color: #88b9e9 !important; /* Azul más oscuro */
  color: #000000 !important; /* Amarillo más luminoso */
}


/* Estilos para los items de la lista */
.pokemon-list-container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr)); /* Ajuste de columnas para ser responsivo */
  gap: 15px;
  max-width: 90%; /* Ancho limitado para que no ocupe toda la pantalla */
  margin: 0 auto; /* Centrado horizontal */
}

/* Estilo de cada tarjeta de Pokémon */
.pokemon-item {
  border-radius: 15px;
  border: 2px solid #f0f0f0;
  box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.1);
  background-color: #ffffff;
  overflow: hidden; /* Asegura que las imágenes no sobresalgan */
}

/* Estilo de la imagen del Pokémon */
.pokemon-image {
  width: 100%;
  height: auto;
  border-radius: 10px;
}

/* Estilo del texto dentro de la tarjeta */
.card-body {
  padding: 15px;
}

.card-title {
  font-size: 1.2rem;
  font-weight: bold;
  color: #2c3e50;
  text-transform: capitalize;
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5); /* Sutil sombra para el título */
}

.card-text {
  font-size: 1rem;
  color: #7f8c8d;
}

/* Spinner de carga */
mat-progress-spinner {
  margin: auto;
  display: block;
}

/* Estilo para las imágenes de los Pokémon */
.pokemon-info img {
  border-radius: 10px;
  max-width: 100%;
  height: auto;
}

/* Responsividad para items de lista en pantallas más grandes */
@media (min-width: 768px) {
  .pokemon-item {
      display: flex;
      justify-content: space-between;
      align-items: center;
  }
}
